{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center gap-4 mt-5 mb-5">
		<div class="col-sm-3">
			<div class="card border-0 ">
				<img src="{{ asset('pictures/model.jpg')}}" class="img-fluid img-thumbnail rounded-4" alt="...">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card border-0">
				<img src="{{ asset('pictures/model.jpg')}}" class="img-fluid img-thumbnail rounded-4" alt="...">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card border-0">
				<img src="{{ asset('pictures/model.jpg')}}" class="img-fluid img-thumbnail rounded-4" alt="...">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
