{% extends 'base.html.twig' %}

{% block title %} Commande {% endblock %}

{% block body %}
<h2>Ma commande</h2>
<a href="{{path('app_account_address_form')}}">Ajouter une nouvelle adresse</a>
{{form(form)}}
{% endblock %}
