{% extends 'base.html.twig' %}

{% block title %}
	Commande
{% endblock %}

{% block body %}
	<h2>Paiement validée</h2>
	<div class="text-center">
		<div class="text-success">
			{{ ux_icon('ion:bag-check', {width:'60px'}) }}
		</div>

    <p>LaBoutique vous remercie de votre commande !</p>
	<a href="{{path('app_account_order_account')}}" class="btn btn-success mt-3">Revenir sur mon compte</a>
	</div>

{% endblock %}
